---
import "../styles/global.css"
import Layout from '../layouts/Layout.astro';
---

<Layout title="Σ-protocols Working Group">
  <main>
    <h1 class="text-center font-mono">Σ-protocols Working Group</h1>

    <div class="prose lg:prose-xl font-mono dark:prose-invert">
      <p>
        Zero-knowledge proofs allow a prover to convince a verifier about some claim on a secret piece of information, without revealing anything else that what is already revealed by the claim itself.
      </p>

      <p>
        Introduced over 30 years ago, Σ-protocols play an essential component in the building of a number of cryptographic constructions, such as anonymous credentials, password-authenticated key exchange, signatures, ring signatures, blind signatures, multi signatures, threshold signatures, and more.
        Yet, there is no standardized way of implementing them and as a result a lot of implementations have shared common pitfalls.
      </p>

      <div class="space-y-8">
        <section>
          <h2 class="text-2xl font-semibold mb-4">Core Specifications</h2>

            <ul class="list-disc list-inside space-y-3">
            <li>
              <a href="https://mmaker.github.io/spfs/draft-orru-zkproof-sigma.html" class="inline-flex items-center text-blue-600 hover:text-blue-800">
              Σ-protocol Specification
              </a>
            </li>
            <li>
              <a href="https://mmaker.github.io/spfs/draft-orru-zkproof-fiat-shamir.html" class="inline-flex items-center text-blue-600 hover:text-blue-800">
              Fiat-Shamir Specification
              </a>
            </li>
            </ul>
        </section>

        <section>
          <h2 class="text-2xl font-semibold mb-4">Additional Documentation</h2>
          <div class="flex flex-col space-y-3">
            <li>
              <a href="https://docs.zkproof.org/pages/standards/accepted-workshop4/proposal-sigma.pdf" class="hover:text-gray-800">Initial Standardization Proposal</a>
            </li>
            <li>
              <a href="/tex-spec.pdf" class="hover:text-gray-800">LaTeX Specification</a>
            </li>
            <li>
              <a href="https://csrc.nist.gov/presentations/2024/crclub-2024-07-24"> NIST Presentation</a>
              [<a href="https://archive.org/details/gmt-20240724-140621-recording-1920x-1080">Video Link]
            </li>

          </ul>
          </div>
        </section>

        <section>
          <h2 class="text-2xl font-semibold mb-4">Propaganda</h2>
            <ul class="list-disc list-inside space-y-3">
            <li>
              <a href="/history" class="inline-flex items-center text-gray-600 hover:text-gray-800">
              Historical Context
              </a>
            </li>
            <li>
              <a href="gordon.mp4" class="inline-flex items-center text-blue-600 hover:text-blue-800">
              Gordon Ramsay on Σ-protocols
              </a>
            </li>
            <li>
              <a href="https://youtube.com/watch/nUgewA67v1k" class="inline-flex items-center text-blue-600 hover:text-blue-800">
              Σ-protocols, in The Notebook™
              </a>
          </div>
        </section>
      </div>
    </div>
  </main>
</Layout>
